.imageNafisa {
  height: 320px;
  width: 100%;
  object-position: center top;
}

@media (min-width: 640px) {
  .imageNafisa {
    height: 420px;
    max-width: 340px;
  }
}

@media (min-width: 1024px) {
  .imageNafisa {
    height: 480px;
    max-width: 380px;
  }
}
